.card{
    height: auto;
    display: flex;
    flex-direction: column;
    background-color: var(--cor-fundo-card);
    box-shadow: 0px 4px 4px rgba(0, 0, 0,  0.25);
    border-radius: 10px;
    padding: 0.7em;
}

.card-produto{
    min-height: 20em;
    width: 13.875em;
    align-items: center;
    margin: 1em;
}

.card-carrinho{
    width: 25em;
    margin: 8.3em 1em 22em 1em;
}

.card-finalizar{
    width: 30em;
    margin: 5em 1em 20em 1em;
}

.card-compra-finalizada{
    width: 30em;
    min-height: 17em;
    height: auto;
    margin: 5em 1em 20em 1em;
    align-items: center;
}

.card-cadastro{
    width: 15em;
    align-items: center;
}

.card-login{
    min-height: 21em;
    width: 13.875em;
    align-items: center;
}

.card-tabela{
    min-width: 10em;
    width: auto;
    align-items: flex-start;
    margin: 1em 1em 6em 1em;
}

@media screen and (min-width: 1024px){
    .card{
        padding: 1em;
    }

    .card-carrinho{
        width: 40em;
        margin: 4.5em 1em 7.1em 1em;
    }

    .card-tabela{
        min-width: 25em;
        width: auto;
        align-items: flex-start;
        margin: 1em 1em 6em 1em;
    }

    .card-login{
        width: 30em;
    }

    .card-cadastro{
        width: 30em;
        align-items: center;
    }

    .card-finalizar{
        margin: 5em 1em 8.1em 1em;
    }
    
}

@media screen and (min-width: 1728px) {
    .card-tabela{
        min-width: 25em;
        width: auto;
        align-items: flex-start;
        margin: 1em 1em 6em 1em;
    }

    .card-carrinho{
        width: 40em;
        margin: 9.7em 1em 19.3em 1em;
    }

    .card-finalizar{
        margin: 5em 1em 22em 1em;
    }
}