.conteudo__banner{
    box-sizing: border-box;
    display: flex;
    align-items: center;
}

.conteudo__banner-img{
    width: 100vw;
    overflow: hidden;
}

.carrossel__banner{
    overflow: hidden;
}

.swiper-slide img{
    width: 100vw;
}

.swiper-button-prev,
.swiper-button-next{
    display: none;
}

.swiper-pagination{
    position: initial;
    padding: 0.5em 0;
}

.conteudo_centralizado{
    display: flex;
    align-items: center;
    justify-content: space-around;
}