@import url("./produto.css");
@import url("./header.css");
@import url("./footer.css");
@import url("./main.css");
@import url("./tabela.css");
@import url("./botao.css");
@import url("./card.css");
@import url("./carrinho.css");
@import url("./form.css");
@import url("./menu.css");
@import url("./perfil.css");
@import url("./finalizar.css");

:root {
    --cor-fundo: #EDEEE9;
    --cor-fundo-card: #FFFFFF; 
    --cor-fundo-lista: #D6F7DD;
    --cor-fundo-menu: #398457;
    --cor-principal: #009B3E;
    --cor-fonte-principal: #000000;
    --cor-fonte-secundaria: #FFFFFF;
    --cor-fonte-terciaria: #009B3E;
    --cor-botao-principal: #009B3E;
    --cor-botao-secundario: #9D9D9D;
    --cor-quantidade-carrinho: #FF0202;
    --fonte-principal: "Jua";
    --fonte-secundaria: "Poppins"; 
}

body {
    box-sizing: border-box;
    background-color: var(--cor-fundo);
    font-family: var(--fonte-principal);
    font-size: 1em;
}

.titulo2{
    font-family: var(--fonte-secundaria);
    margin-bottom: 0.5em;
    font-size: 1.3em;
    font-weight: 500;
}

.titulo3{
    font-family: var(--fonte-secundaria);
    margin: 3em 0;
    font-size: 1em;
    font-weight: 500;
}

@media screen and (min-width: 1024px){
    .titulo2{
        font-family: var(--fonte-secundaria);
        margin-bottom: 0.5em;
        font-size: 1.75em;
        font-weight: 500;
    }
}

@media screen and (min-width: 1728px) {
    .titulo2{
        font-family: var(--fonte-secundaria);
        margin-bottom: 0.5em;
        font-size: 1.75em;
        font-weight: 500;
    }
}